Repository remvze/nlc: changes, and which lint-staged commands are due for each by the changed paths.
All: biome lint --write, biome format --write

.lintstagedrc.json:

{
  "*.{ts,js}": "biome lint --write",
  "*.{json,md}": "biome format --write"
}

chore(release): 0.0.1
  CHANGELOG.md
  package-lock.json
  package.json
Due: biome format --write

feat: write better descriptions
  src/index.ts
Due: biome lint --write

chore: complete the package.json
  package.json
Due: biome format --write

chore(release): 0.0.2
  CHANGELOG.md
  package-lock.json
  package.json
Due: biome format --write

chore: update the README file
  .lintstagedrc.json
  README.md
Due: biome format --write

chore(release): 0.0.3
  CHANGELOG.md
  package-lock.json
  package.json
Due: biome format --write

feat: refactor and beautify
  package-lock.json
  package.json
  src/commands/config.ts
  src/commands/do.ts
  src/helpers/file.ts
  src/index.ts
  src/lib/command.ts
  src/lib/config.ts
  src/lib/logger.ts
  src/lib/openai.ts
  src/lib/processor.ts
Due: biome lint --write, biome format --write

fix: remove extra import
  src/lib/processor.ts
Due: biome lint --write

chore(release): 0.1.0
  CHANGELOG.md
  package-lock.json
  package.json
Due: biome format --write

chore: change a typo
  README.md
Due: biome format --write

chore: change order
  README.md
Due: biome format --write

chore: remove extra bash script
  add_numbers.sh
Due: none

feat: add support for LM Studio
  README.md
  package-lock.json
  package.json
  src/commands/config.ts
  src/commands/do.ts
  src/lib/llm.ts
  src/lib/processor.ts
Due: biome lint --write, biome format --write

chore(release): 0.2.0
  CHANGELOG.md
  package-lock.json
  package.json
Due: biome format --write

feat: remake (wip)
  .vscode/settings.json
  package-lock.json
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  src/commands/config.ts
  src/commands/do.ts
  src/helpers/file.ts
  src/index.ts
  src/lib/command.ts
  src/lib/config.ts
  src/lib/llm.ts
  src/lib/logger.ts
  src/lib/openai.ts
  src/lib/processor.ts
  tsconfig.json
Due: biome lint --write, biome format --write

feat: add dangerously accept mode
  src/index.ts
Due: biome lint --write

feat: make improvements
  index.js
  src/index.ts
Due: biome lint --write

feat: add safe git_command tool with confirmation and guardrails
  src/index.ts
Due: biome lint --write

refactor: wip
  src/ai/system.ts
  src/index.ts
  src/lib/command.ts
  src/lib/edit.ts
  src/state/runtime.ts
  src/tools/create-or-replace-file.ts
  src/tools/edit-file.ts
  src/tools/git-command.ts
  src/tools/index.ts
  src/tools/list-files.ts
  src/tools/read-file.ts
  src/tools/run-command.ts
  src/tools/search-files.ts
  src/utils/box.ts
  src/utils/shell.ts
Due: biome lint --write

chore: remove extra file
  index.js
Due: biome lint --write

feat: add runtime logger and improve tool execution output
  src/index.ts
  src/lib/command.ts
  src/state/runtime.ts
  src/tools/create-or-replace-file.ts
  src/tools/edit-file.ts
  src/tools/git-command.ts
  src/tools/list-files.ts
  src/tools/read-file.ts
  src/tools/run-command.ts
  src/tools/search-files.ts
  src/utils/box.ts
  src/utils/logger.ts
  src/utils/preview.ts
Due: biome lint --write

feat: add nlc config command with key/model management
  README.md
  src/commands/config.ts
  src/index.ts
  src/state/config.ts
Due: biome lint --write, biome format --write

feat: render assistant output as markdown in terminal
  package.json
  pnpm-lock.yaml
  src/index.ts
  src/utils/markdown.ts
Due: biome lint --write, biome format --write

chore(release): 1.0.0
  CHANGELOG.md
  package.json
Due: biome format --write

feat: use cli-markdown
  package.json
  pnpm-lock.yaml
  src/types.d.ts
  src/utils/markdown.ts
Due: biome lint --write, biome format --write

chore(release): 1.1.0
  CHANGELOG.md
  package.json
Due: biome format --write
